* {
    padding: 0;
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
}


body {
    background-color: #EEE7DA;
}

main {
    min-height: 100vh;
}

.add-styles-box {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
    max-width: 600px;
    text-align: center;
}

.add-styles-box h2 {
    margin-bottom: 20px;
}

.add-styles-box form {
    text-align: left;
}

.add-styles-box label {
    display: block;
    text-align: center;
    margin-bottom: 5px;
}

.add-styles-box input[type="text"],
.add-styles-box textarea {
    width: calc(100% - 10px);
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;

}

.add-styles-box button.button-style {
    background-color: #88AB8E;
    color: black;
    font-size: 15px;
    padding: 12px 20px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 3px;
    font-weight: bold;
    width: 75%;
    margin: 0 auto; 
    display: block; 
}

.add-styles-box button.button-style:hover {
    background-color: #AFC8AD;
}

h3, h2{
    text-align: center;
}
