* {
    padding: 0;
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
}

body {
    background-color: #EEE7DA;
}

.centered-box {
    display: flex;
    justify-content: center;
    align-items: flex-start; 
    height: 100vh;
}

.content-box {
    width: 25%; 
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin-top: 20px; 
}

.content-box h2 {
    text-align: center;
    margin-bottom: 15px;
}

.content-box form {
    text-align: center;
    margin-bottom: 15px;
}

.content-box label {
    display: block;
    margin-bottom: 5px;
}

.content-box input[type="text"],
.content-box input[type="password"] {
    width: 75%;
    padding: 8px;
    margin-bottom: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.content-box button {
    background-color: #88AB8E;
    color: black;
    font-size: 15px;
    padding: 15px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 3px;
    font-weight: bold;
    width: 60%;
    margin-top: 10px;
    align-self: center;
}

.content-box button:hover {
    background-color: #AFC8AD;
}